<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="row" colspan="3" class="text-center">CARRITO</th>
        </tr>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CANTIDAD</th>
        </tr>
        </thead>

        <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}
        <tr>
            <td>{{value.nombre_carrito}}</td>
            <td>{{value.precio_remedio}}</td>
            <td>{{value.precio_acumulado}}
            <a href="{% url 'agregar_remedio' value.remedio_id %}" class="badge btn btn-dark badge-dark">+</a>
            <a href="{% url 'eliminar_remedio' value.remedio_id %}" class="badge btn btn-dark badge-dark">-</a>
            </td>
        </tr>
        <script src="https://www.paypal.com/sdk/js?client-id=AT-EWWozseJtU18PfRKEC1PBB4ikdw5PSAojVtNupALMC9bz3WiLnMX0S4WY5-MRqBqEenZD9RCLvQIS&currency=USD"></script>
        <div id="paypal-button-container"></div>

 <script>

    paypal.Buttons({

      // Sets up the transaction when a payment button is clicked

      createOrder: (data, actions) => {

        return actions.order.create({

          purchase_units: [{

            amount: {

              value: {{value.precio_acumulado}} // Can also reference a variable or function

            }

          }]

        });

      },

      // Finalize the transaction after payer approval

      onApprove: (data, actions) => {

        return actions.order.capture().then(function(orderData) {

            console.log()

          // Successful capture! For dev/demo purposes:

          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          const transaction = orderData.purchase_units[0].payments.captures[0];

          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);

          // When ready to go live, remove the alert and show a success message within this page. For example:

          // const element = document.getElementById('paypal-button-container');

          // element.innerHTML = '<h3>Thank you for your payment!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');

        });

      }

    }).render('#paypal-button-container');

  </script>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center"> Sin productos </div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Total:</th>
            <td colspan="2">${{total_carrito}}</td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>

<div class="row text-center">
    <div class="col-6"><a href="{% url 'limpiar_carrito' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
</div>