<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="row" colspan="3" class="text-center">CARRITO</th>
        </tr>
        <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CANTIDAD</th>
        </tr>
        </thead>

        <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}
        <tr>
            <td>{{value.nombre_carrito}}</td>
            <td>{{value.precio_remedio}}</td>
            <td>{{value.precio_acumulado}}
            <a href="{% url 'agregar_remedio' value.remedio_id %}" class="badge btn btn-dark badge-dark">+</a>
            <a href="{% url 'eliminar_remedio' value.remedio_id %}" class="badge btn btn-dark badge-dark">-</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center"> Sin productos </div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">Total:</th>
            <td colspan="2">${{total_carrito}}</td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>

<div class="row text-center">
    <div class="col-6"><a href="{% url 'limpiar_carrito' %}" class="btn btn-danger">Limpiar</a></div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="LQFZVFY3GPKCU">
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
        </form>
        
    <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
</div>