<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GC|Contactanos</title>
    <link rel="stylesheet" href="css/contacto.css">
</head>

<body>

    <form action="">
        <h2>CONTACTANOS</h2>
        <u>Datos Personales</u>
        <input type="text" placeholder="Nombre y Apellido">
        <input type="text" placeholder="Correo">
        <input type="text" placeholder="Telefono">
        <textarea name="mensaje"  placeholder="Escribe aqui . . ."></textarea>
        
        <a href="index.html"> <input type="button" value="ENVIAR" id="boton"></a>
       
        


    </form>    

    <div id="viacontacto">   
        <p>Dirección : Los Copihues #289 </p>
        <p>Fono : 300 290 1000 </p>
        <p>Instagram : @Group_Zero </p>
        
    </div>

    
</body>
</html>