<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña | Gc</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/recuperar.css">
</head>

<body>
   <div class="recuperar-box"> 
    <img  class="avatar"  src="img/logo.png" width="48px" alt="logo de Gc">
    <h1>Recuperar Contraseña</h1>
    <form>
    <!--Recuperar contraseña-->
    <label for="email">Ingrese su correo</label>
    <input type="email" placeholder="Ingrese email">
    <!--enviar boton-->
    <a href="../Semestral-Proyecto/login.html"><button type="button" class="btn btn-primary btn-lg"> ENVIAR </button></a>
    <p><a href="../Semestral-Proyecto/login.html"> Ya tengo cuenta </a> </p>

    </form>
   </div>

</body>
</html>