*{
    margin: 0;
    padding: 0;
}

 /* menú, nabbar, cabecera */

 .navbar{
    background-image: url('../img/img1.jpg');
    background-color: transparent !important;
}
.navbar .nav-item a{
    color: #FFF !important;
}

.navbar .navbar-nav{
    margin:0 auto;
    
}

.navbar .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.3);

}

/* */

html,body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    background-image: url("../img/jesus.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
     background-color: black;
}
.nav{
    width: 350px;
    height: auto;
    background-color:rgba(0,0,0,0);
    position: absolute;
    top: 20%;
    left: 0;
    background-size: cover;
}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}


a.active , .nav a:hover{
    background-color: whitesmoke;
    color: white;
    width: 100%;
}
.a{
    width: 95%;

}
.b{
    width: 85%;

}
.c{
    width: 80%;
}
.d{
    width: 90%;
}

.nav2{
    width: 350px;
    height: auto;
    background-color:rgba(0,0,0,0);
    position: absolute;
    top: 20%;
    right: 0;
    background-size: cover;
}
.nav2 a{
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}
a.active , .nav2 a:hover{
    background-color: whitesmoke;
    color: white;
    width: 100%;
}
.e{
    width: 95%;

}
.f{
    width: 85%;

}
.g{
    width: 80%;
}
.h{
    width: 90%;
}