 /* menú, nabbar, cabecera */

.navbar{
    background-image: url('../img/img1.jpg');
    background-color: transparent !important;
}
.navbar .nav-item a{
    color: #FFF !important;
}

.navbar .navbar-nav{
    margin:0 auto;
    
}

.navbar .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.3);

}

/* carousel de imagenes*/

.carousel-inner img {
    filter: brightness(0.5);
    height: 400px;
}

/* tarjetas */
.card-img-filter{
    filter: brightness(0.5);
}

.card{
   transition-duration: .6s;
   clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0 ); 
}

.card-effect:hover .card{
    clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50% );

}

.card-effect:hover:hover .card-img-overlay{
    transform: scale(.9);

}

.card-img-overlay{
    transition-duration: .6s;
}

.w-33 {
    width: 33.33%;
    background-color: orange;
  }
  
.center {
    text-align: center;
  }
  

  
 





